<div id="footer">
  <div class="container" style="text-align: center;">
    <hr />
    <p class="text-muted">
      <a href="http://miitbeian.gov.cn" target="_blank">京ICP备13046340号</a>
    <p>
  </div>
</div>
