<DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <title><%= title %> 首页</title>
    <!-- meta -->
    <meta charset="utf-8" />
    <meta name="description" content="<%= config.description %>" />
    <meta name="keywords" content="<%= config.keywords %>" />
    <meta name="referer" content"always" />

    <!-- style -->
    <link rel="Stylesheet" type="text/css" href="/public/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/public/js/jquery-2.1.4.min.js"></script>
    <script type='text/javascript' src="/public/js/bootstrap.min.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>
