/* stricky footer styles*/
body {
  height: 100%;
}

#body-content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px;
}

#body-footer {
  height: 80px; /* <hr /> 的总高度为41*/
}


/* end stricky footer styles*/

textarea {
  resize: none;
}

.inner {
  margin:0 0 80px;
}

.input-text {
	max-width: 280px;
}
