<div class="container">
  <div class="panel">
    <div class="header">
      <ul class="breadcrumb">
        <li><a href='/'>主页</a><span class="divider"></span></li>
        <li class="active">用户</li>
      </ul>
    </div>
    <div class="inner userinfo">
      User page <%= user.loginname %>
    </div>
  </div>
</div>
