<hr />
<% for (var i = 0; i < articles.length; i++) { %>
<article>
    <h4 class="post-summary-title">
        <a href="/article/<%= articles[i].id %>" target="_blank"><%- articles[i].title %></a>
    </h4>
    <p class="list-group-item-text" style="font-size: 12px;"><%= articles[i].summary %></p>
    <div class="post-summary-tags">
        <small class="pull-right" title="<%= articles[i].create_time() %>">
            <%= articles[i].create_at >= articles[i].update_at ? "发布于 " + articles[i].create_at_ago() : "更新于 " + articles[i].updated_at_ago() %>
        </small>
    </div>
</article>
<hr />
<% } %>