<ul class="list-group">
<% for (var i = 0; i < articles.length; i++) { %>
  <li class="list-group-item">
    <div class="media">
      <div class="media-left"></div>
      <div class="media-body">
        <h4 class="media-heading list-group-item-heading">
          <a href="/article/<%= articles[i].id %>" target="_blank"><%- articles[i].title %></a>
        </h4>
        <div class="list-group-item-text" style="font-size: 12px;"><%- articles[i].summary %></div>
        <div class="pull-right" style="color: gray;">
          <small title="<%= articles[i].create_time() %>">发布于 <%= articles[i].create_at_ago() %></small>
        </div>
      </div>
      <div class="media-right"></div>
    </div>
  </li>
  <% } %>
</ul>