<div id="preview_article" class="modal fade modal-article-preview" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
	    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" arial-label="Close">
          <span arial-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">预览</h4>
      </div>
	    <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          关闭
        </button>
      </div>
	  </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $('#preview_article').on('show.bs.modal', function (event) {
      //var button = $(event.relatedTarget) // Button that triggered the modal
      var data = {};
      data.title = $('#title').val();
      data.content = $('#content').val();
      var modal = $(this);
      $.ajax({
        url: '/api/v1/article/preview',
        method: 'post',
        data: data,
        dataType: 'json',
        success: function (data) {
      modal.find('.modal-title').text(data.title);
      modal.find('.modal-body').html(data.content);
        },
        error: function (err) {
          alert('预览时发生了些错误:' + err);
        }
      });
    });
  });
</script>