<div class="container">
  <div class="header">
    <ul class="breadcrumb">
	  <li><a href='/'>主页</a><span class="divider"></span></li>
	  <li class="active">添加文章</li>
	</ul>
  </div>
  <div class="inner">
    <% if (typeof(edit_error) !== 'undefined' && edit_error) { %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" arial-label="Close">
          <span arial-hidden="true">&times;</span>
        </button>
        <%= edit_error %>
      </div>
    <% } %>
    <form class="form-vertical" method="post">
      <div class="panel panel-default">
        <div class="panel-heading">
          <input type="text" class="form-control" id="title" name="title" placeholder="标题" value="<%= article.title %>" />
        </div>
        <div class="panel-body">
          <textarea class="form-control" rows="20" id="content" name="content" placeholder="文章内容...">
            <%= article.content %>
          </textarea>
        </div>
        <div class="panel-footer">
          <input type="button" value="&nbsp;预 览&nbsp;" class="btn btn-default btn-sm" />
          <input type="submit" value="&nbsp;修 改&nbsp;" class="btn btn-primary btn-sm" />
        </div>
      </div>
    </form>
  </div>
</div>