<div class="container">
  <div class="header">
    <ul class="breadcrumb">
	    <li><a href='/'>主页</a><span class="divider"></span></li>
	    <li class="active">文章</li>
	  </ul>
  </div>
  <div class="inner row">
    <div class="col-md-9" style="padding-left: 0;">
      <%- partial('_list_articles', {articles: articles}) %>
      <%- partial('_article_pagination', {pages: pages, current_page: current_page})%>
    </div>
    <div class="col-md-3" style="padding-right: 0;">
    </div>
  </div>
</div>