<div class="container">
  <div class="header">
    <ul class="breadcrumb">
	    <li><a href='/'>主页</a><span class="divider"></span></li>
	    <li class="active">文章</li>
	  </ul>
  </div>
  <div class="inner">
    <div class="page-header">
      <h1>文章列表</h1>
    </div>
    <ul class="list-group">
      <% for (var i = 0; i < articles.length; i++) { %>
        <li class="list-group-item">
          <a href="/article/<%= articles[i].id %>"><%= articles[i].title %><a/>
        </li>
      <% } %>
    </ul>
  </div>
</div>